@{
    ViewBag.Title = "联系我们";
}
<div class="m-con"><img src="~/Images/construction.jpg" class="building" /></div>
<br style="clear: both;" />
<style>
    div.m-con {
        width: 100%;
        min-height: 500px;
        position: relative;
    }

    img.building {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        right: 50%;
        margin-left: -150px;
        margin-top: 125px;
    }
</style>