@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QY-Admin System</h1>
    <br />
    <p><a href="http://www.qy-nj.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>